name: RDP-Cloudflare-Bale
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Set Password
      run: net user runneradmin BaleRDP123!

    - name: Konfigurasi RDP
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 1

    - name: Install Cloudflare
      run: |
        Invoke-WebRequest https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-windows-amd64.msi -OutFile cloudflared.msi
        Start-Process msiexec.exe -ArgumentList "/i cloudflared.msi /quiet" -Wait

    - name: Download MuMu Player Installer
      shell: powershell
      run: |
        $url = "https://res.mumuplayer.com/global/mumu_installer/MuMuInstaller_1.1.1.6_country-id_all_1626245241.exe"
        $outpath = "$env:USERPROFILE\Downloads\MuMuInstaller.exe"
        Write-Host "Sedang mengunduh MuMu Player..."
        try {
            Invoke-WebRequest -Uri $url -OutFile $outpath -ErrorAction Stop
            Write-Host "Berhasil: MuMuInstaller.exe tersimpan di folder Downloads."
        } catch {
            Write-Host "Gagal mendownload otomatis karena link host tidak ditemukan atau mati."
            Write-Host "Solusi: Silahkan buka browser di dalam RDP nanti dan download manual di mumuplayer.com"
        }

    - name: Menjalankan Tunnel & Ambil Link
      run: |
        echo "TUNGGU... CARI LINK .trycloudflare.com DI LOG BAWAH INI"
        & "C:\Program Files (x86)\cloudflared\cloudflared.exe" tunnel --url tcp://localhost:3389
